/* styles for header */
.container {
	width: 100%;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
	overflow: hidden;
}

.navbar {
	width: 100%;
	display: flex;
	align-items: center;
}

.logo {
	width: 50px;
	height: 50px;
	cursor: pointer;
	margin: 30px 0;
}

.menu-icon {
	width: 25px;
	cursor: pointer;
	display: none;
}

nav{
	flex: 1;
	text-align: right;
}

nav ul li {
	list-style: none;
	display: inline-block;
	margin-right: 30px;
}

.header-navs {
	display: flex;
	justify-content: flex-end;
	padding-top: 1em;
    background: rgb(44,48,60);
    background: linear-gradient(90deg, rgba(44,48,60,1) 0%, rgba(38,73,147,1) 35%, rgba(0,215,255,1) 100%);
}

nav a {
	color: white;
	background-color: darkslategrey;
	padding: 0.8rem;
	margin: 0.8rem;
	text-decoration: none;
	transition: all 0.8s ease-out;
	border-radius: 0.8rem;
}
nav a:hover,
a:focus {
	background-color: #fff;
	color: #333;
	border-radius: 0.8rem;
}

/* styles for header*/
@media only screen and (max-width:700px){
nav ul {
    width: 100%;
    background: linear-gradient(#ff54a2, #ff575a);
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
}
nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
nav ul li a {
    color: #fff;
}
.menu-icon{
    display: block;
}
}