.title {
  margin-top: 5%;
  margin-bottom: 5%;
}

.home-page {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

img{
  width: 100% 
}

.info-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 2.5%
}

.info-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5%;
}

.info-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5%;
}

.info-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5%;
}

